/* Général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Styles pour les boutons */
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

.tab-button {
    padding: 10px 15px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.tab-button.active {
    background-color: #4CAF50;
    color: white;
}

.tab-content {
    padding: 20px;
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.tab-content.active {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul li button {
    background-color: #f44336;
    color: white;
    margin-top: 10px;
    width: auto;
    display: inline-block;
}

ul li button:hover {
    background-color: #d32f2f;
}

ul li strong {
    font-size: 1.1em;
}

/* Lien pour naviguer */
a.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

a.btn:hover {
    background-color: #45a049;
}

#errorMessage, #successMessage {
    display: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}

#errorMessage {
    background-color: #f44336;
    color: white;
}

#successMessage {
    background-color: #4CAF50;
    color: white;
}
